blueprints
tts
.*
!.HA_VERSION
!.gitignore

google_calendars.yaml
known_devices.yaml
secrets.yaml
aircast.xml

custom_components
image
www/community/*
www/Plex_Recently_Added/*
www/fonts

home-assistant.code-workspace
home-assistant.log*
home-assistant_v2.db*